.btn{
    -fx-font-family: "Arial Black",fantasy;
    -fx-background-color: linear-gradient(to top, lightblue, lightslategray);
    -fx-color: antiquewhite;
    -fx-background-radius: 7px;
    -fx-max-width: 100px;
    -fx-width: 40px;
    -fx-width: 50px;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-margin-bottom: 5px;
    -fx-font-family: "Arial Black",fantasy;
    -fx-text-effect: engrave;
}

.btn:hover{
    -fx-background-color: lightblue;
}

.title{
    -fx-font-family: "Arial Black",fantasy;
    -fx-font-size: 29px;
    -fx-text-fill: white;
    -fx-text-align: center;
}

.title:hover{
    -fx-scale: 120%;
}

.root{
    -fx-background: linear-gradient(to bottom, rgb(100, 149, 237, 0.8), rgb(72, 61, 139, 0.8)) ;
}

.input{
    -fx-background: #585858;
}